html, body {
    font-family: 'Open Sans', sans-serif;
}

.brand{
    font-family: 'Shadows Into Light', cursive;
    font-size: 2.5rem;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

.title{
    font-family: 'Kalam', cursive;
    font-size: 6rem;
}

.hero .nav, .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.hero .subtitle {
    padding: 3rem 0;
    line-height: 1.5;
}


.hero.is-info {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url('../img/background-title4.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.animation-title {
    animation: showUp 500ms;
}

@keyframes showUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.menu-button{
    position: fixed;
    right:2rem;
    bottom: 2rem;
    padding: 1rem;
    border: 1px solid lightgrey;
    border-radius: 0.6rem;
}

.hidden-navbar{
    position:fixed;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    display: none;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(51, 51, 51,0.5),rgba(0, 0, 0,1));
}

.middle{
    padding-top:25%;
}



/*
BUTTON STYLING
*/

.btn {
    position: relative;
    color: white;
    width: 16rem;
    height: 6rem;
    line-height: 6rem;
    transition: all 0.3s;
    span {
        transition: all 0.3s;
        tranform: scale(1, 1);
    }
}

.btn::before, .btn::after {
    content: '';
    position: absolute;
    transition: all 0.3s;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}



/* BTN TWO */
.btn-two::before, .btn-two::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.btn-two:hover::after {
    animation-name: rotatecw;
    animation-duration: 2s;
}
.btn-two:hover::before {
    animation-name: rotateccw; 
    animation-duration: 3s;
}
.btn-two:hover::after, .btn-two:hover::before {
    left: 96px;
    width: 64px;

    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotatecw {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotateccw {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}